body {
    background-color: #fff;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

#homepage-hero .section-body {
    background-image: -webkit-gradient(linear,left top,right top,from(#49d6b5),to(#00a8af));
    background-image: linear-gradient(90deg,#49d6b5,#00a8af);
        padding: 1.25rem;
}

.card .section-body {
    margin-bottom: 1.5rem;
    overflow: hidden;
    color: rgba(50,60,71,.4);
    background: #fff;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.06);
    border-radius: 8px;
}

blockquote, dd, dl, figure, h1, h3, h4, p, h5, h6, pre {
    margin: -8px;
}
span{
    display: block;
    color: black;
    font-size: 10px;
    font-weight: 500;
    margin-top: -20px;
}

.flex {
    display: -webkit-inline-box;
    width: 100%;
}
.info{
    color: #000;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    overflow: hidden;
}
.info2{
    color: #000;
    font-size: 15px;
    font-weight: 300;

  overflow-x: hidden;
}
.grid-container{

    color: #000;
    font-size: 15px;
    font-weight: 300;
  overflow-x: hidden;

}
h2{   
    margin:0;
    font-size: 12px

}
i {
    color: black;
    font-size: 40px;
}

.text1 .text2 .text3 {
    grid-area: text1;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

.home p{
    font-size: 30px;
    padding: 18px;
    font-weight: 600;
}
.Release .h3{
    font-size: 10px;
}
.Release .infos{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 76%;
    padding-top: 20px;
    
}
.Release .text-white {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.Release {
        margin: 0.9rem;
        overflow: hidden;
        color: rgba(50,60,71,.4);
        background-image: linear-gradient(90deg,#3f3e68,#3f519d);
        box-shadow: 0 4px 16px 0 rgba(0,0,0,.06) ;
        border-radius: 12px;
        padding: 0.75rem;
        /* background-image: linear-gradient(-90deg, #077a67, #4cccb0);
filter: drop-shadow(0px 3px 12px rgba(7, 122, 103, 0.502));*/
}

.Tweaks .h3{
    font-size: 10px;
}
.Tweaks .infos{
    color: #000;
    font-size: 14px;
    font-weight: 400;
    width: %;
    padding-top: px;
    
}
.Tweaks .text-white {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}
.Tweaks {
    margin-bottom: 1px;
    overflow: hidden;
    color: rgba(50,60,71,.4);
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.06);
    /* border-radius: 12px; */
    padding: 10px;
}



.true .h3{
    font-size: 10px;
}
.true .infos{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 76%;
    padding-top: 20px;

    
}
.true .text-white {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.true {
        margin: 0.9rem;
        overflow: hidden;
        color: rgba(50,60,71,.4);
        background-image: linear-gradient(90deg,#3f3e68,#3f519d);
        box-shadow: 0 4px 16px 0 rgba(0,0,0,.06) ;
        border-radius: 12px;
        padding: 0.75rem;
        /* background-image: linear-gradient(-90deg, #077a67, #4cccb0);
filter: drop-shadow(0px 3px 12px rgba(7, 122, 103, 0.502));*/
}

.true2 {
        margin: 0.5em;
        overflow: hidden;
        color: #076dc6 ;
        background-color: #076dc6;
        box-shadow: 0 4px 16px 0 rgba(0,0,0,.06);
        border-radius: 12px;
        padding: 0.4em;
        /* background-image: linear-gradient(-90deg, #077a67, #4cccb0);
filter: drop-shadow(0px 3px 12px rgba(7, 122, 103, 0.502));*/
}
.true .imgg {
/*
background-image: url("https://cdn.dribbble.com/users/104117/screenshots/3802691/attachments/858783/iphonex_-dark-.png");
background-image: url("https://lh3.googleusercontent.com/proxy/hVRUrf_oH9hh0_hBK-pOes2SRKgBM9K1Ll2CnEP-wvo8cm2ga1jPLqwceZEhb_xb6aOgCR7JJBXL4JwGnIUO_aUPF_SjxlFpgsgzByL5rqCB98jftWdlcIsV2QisVxX_1VTBiSvZx_-x20xXO_eLwXDTGA=s0-d");
height:0px;
    padding: 33px;


background-size: cover;
width: auto;
*/

}

